<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript Bundle with Popper -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link th:href="@{/css/cadastroPessoas.css}" rel="stylesheet"/>
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
    <title>Cadastro de Pessoas</title>
</head>
<body>
    <header class="d-flex flex-wrap py-3 " style="background: #83A93A;"> <button class="botaoVoltar"><a href="../home.html"><span class="voltar"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
      </svg></span> </a></button> </header>
    <p class="fs-1 text-center" style="background: #E0E7CA; padding: 20px">Cadastro de Usuário</p>

    <div class="formularioCadastroUsuario">  
        <form
            action="#"
            th:action="@{/pessoa/addPessoa}"
            th:object="${pessoa}"
            method="post"
        >
            <input type="text" th:field="*{id}" hidden/>
            <p>
                Nome:
                <input type="text" th:field="*{nome}" placeholder="Insira seu nome" />
            </p>
            <p>
                Telefone:
                <input type="text" th:field="*{telefone}" placeholder="Insira seu telefone" />
            </p>
            <p>
                CPF:
                <input type="text" th:field="*{cpf}" placeholder="Insira seu CPF" />
            </p>
            <p>
                Email:
                <input type="text" th:field="*{email}" placeholder="Insira seu Email" />
            </p>
            <p>
                Cidade:
                <input type="text" th:field="*{cidade}" placeholder="Insira sua cidade" />
            </p>
            <p>
                Estado:
                <input type="text" th:field="*{estado}" placeholder="Insira seu estado" />
            </p>
            <p>
                CEP:
                <input type="text" th:field="*{cep}" placeholder="Insira seu CEP" />
            </p>
            <p>
                Bairro:
                <input type="text" th:field="*{bairro}" placeholder="Insira seu bairro" />
            </p>
            <p>
                Rua:
                <input type="text" th:field="*{rua}" placeholder="Insira seu rua" />
            </p>
            <p>
                Numero:
                <input type="text" th:field="*{numero}" placeholder="Insira seu numero" />
            </p>
            <div class="guardaBotao"><p><input type="submit" value="Cadastrar" /></p></div>
        </form>
    </div>

    <footer class="footer"></footer>
</div>

</body>
</html>