<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript Bundle with Popper -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link th:href="@{/css/cadastroBovinos.css}" rel="stylesheet"/>
    
    <title>Editar bovino</title>
</head>
<body>
    <header class="d-flex flex-wrap py-3 " style="background: #83A93A;"> </header>
    <p class="fs-1 text-center" style="background: #E0E7CA; padding: 20px">Editar bovino</p>

    <div class="formularioCadastroBovino">
    
        <form class="formulario" action="#" th:action="@{/bovino/adicionarBovino}" th:object="${bovino}" method="post">
            
            <div class="sub-div">
                <input type="text" class="nomeBovino" th:field="*{id}" hidden/>

                <div class="id_"><p>Nome</p></div> 
                <input type="text" class="nomeBovino" th:field="*{nome}"/>


                <div class="id_"><p>Peso</p></div> 
                <input type="number" class="pesoBovino" th:field="*{peso}"/>

                <div class="id_"><p>Idade</p></div> 
                <input type="date" class="idadeBovino" th:field="*{aniversario}"/>
                
                <div class="id_"><p>Sexo</p></div> 
                <select name="Sexo" class="sexoBovino" th:field="*{sexo}">
                    <option th:each="sexoOpt : ${bovinos}" th:value="${sexoOpt.nome}" th:text="${sexoOpt.nome}"></option>
                </select>


            </div>
            <button type="submit" class="botao">Cadastrar</button>
        </form>

    </div>

    <div class="footer fixed-bottom" style="background: #83A93A; height: 10%"> </div>
</div>

</body>
</html>