<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"s>
    <header>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
        <title>Animais com Carteira de Vacinação</title>
    </header>
    <body>
        <header class="d-flex flex-wrap py-3 " style="background: #83A93A;"> </header>
        <p class="fs-1 text-center" style="background: #E0E7CA; padding: 20px">Animais com Carteira de Vacinação</p>

        <div style="margin: 5%; margin-left: 20%; margin-right: 20%;">
        <table class="table table-bordered table-bordered" >
            <thead class="text-center" style="background-color:#E0E7CA;">
            <tr>
                <th scope="col"><div class="center">Nome</div></th>
                <th scope="col">Carteira de Vacinação</th>
            </tr>
            </thead>
            <tbody class="text-center" style="background-color:#E0E7CA;">
                <tr>
                    <th scope="row">Jujuba</th>
                    <td><button class="btn btn-primary" type="submit">Ver</button></td>
                </tr>
                <tr>
                    <th scope="row">Maria</th>
                    <td><button class="btn btn-primary" type="submit">Ver</button></td>
                </tr>
                <tr>
                    <th scope="row">Tonhao</th>
                    <td><button class="btn btn-primary" type="submit">Ver</button></td>
                </tr>
                <tr>
                    <th scope="row">Jujuba</th>
                    <td><button class="btn btn-primary" type="submit">Ver</button></td>
                </tr>
                <tr>
                    <th scope="row">Maria</th>
                    <td><button class="btn btn-primary" type="submit">Ver</button></td>
                </tr>
                <tr>
                    <th scope="row">Tonhao</th>
                    <td><button class="btn btn-primary" type="submit">Ver</button></td>
                </tr>
            </tbody>
        </table>
        </div>

        <div class="footer fixed-bottom" style="background: #83A93A; height: 10%"> </div>
    </body>
</html>