*body {
    margin: 0%;
}

.formularioCadastroVacina, .formulario, .sub-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.formularioCadastroVacina {
    padding-bottom: 2em;
}

.sub-div {
    width:fit-content;
    margin: 0;
}

.id_ {
    width: 40em;
    font-weight: bold; 
    margin-top: 1em;
}

.nomeVacina, .fabricanteVacina, .periodoVacina, .quantidadeVacina, .informacaoVacina, .campoText {
    width: 40em;
    border-radius: 1em;
    border: solid 1.5px #6D3B00;
    background-color: #eaece2;
    margin-top: -1em;
}

.botao {
    background-color: #83A93A;
    color: white;
    margin-top: 2em;
    width: 40em;
    border-radius: 1em;
    border-color: #6D3B00;
    padding: 0.2em;
}


.botaoVoltar {
    margin-left: 10px;
    background-color: #93c041;
    border-radius: 10px;
    border-color: black;
    
}

.bi {
    color: black;
}

