<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript Bundle with Popper -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./estilos/cadastroPessoas.css">
    
    <title>Cadastro de Pessoas</title>
</head>
<body>
    <header class="d-flex flex-wrap py-3 " style="background: #83A93A;"> </header>
    <p class="fs-1 text-center" style="background: #E0E7CA; padding: 20px">Cadastro de Usuário</p>

    <div class="formularioCadastroUsuario">
    
        <form class="formulario">
            
            <div class="sub-div">
                <div class="id_"><p>Nome</p></div> 
                <input type="text" class="nomeUsuario" name="nomeUsuario"/>

                <div class="id_"><p>Telefone</p></div> 
                <input type="tel" class="telefoneUsuario" name="telefoneUsuario"/>

                <div class="id_"><p>CPF</p></div> 
                <input type="text" class="cpfUsuario" name="cpfUsuario"/>

                <div class="id_"><p>Email</p></div> 
                <input type="email" class="emailUsuario" name="emailUsuario"/>

                <div class="id_"><p>Cidade</p></div> 
                <input type="text" class="cidadeUsuario" name="cidadeUsuario"/>

                <div class="id_"><p>Estado</p></div> 
                <input type="text" class="estadoUsuario" name="estadoUsuario"/>

                <div class="id_"><p>Cep</p></div> 
                <input type="text" class="cepUsuario" name="cepUsuario"/>

                <div class="id_"><p>Bairro</p></div> 
                <input type="text" class="bairroUsuario" name="bairroUsuario"/>

                <div class="id_"><p>Rua</p></div> 
                <input type="text" class="cepUsuario" name="cepUsuario"/>

                <div class="id_"><p>Bairro</p></div> 
                <input type="text" class="ruaUsuario" name="ruaUsuario"/>

                <div class="id_"><p>Número</p></div> 
                <input type="text" class="numeroUsuario" name="numeroUsuario"/>

            </div>
            <button type="submit" class="botao">Cadastrar</button>
        </form>

    </div>

    <footer class="footer">@</footer>
</div>

</body>
</html>