<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"s>
    <header>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="./estilos/listaVacinas.css">
        <title>Vacinas</title>
    </header>
    <body>
        <header class="d-flex flex-wrap py-3 " style="background: #83A93A;"> </header>
        <p class="fs-1 text-center" style="background: #E0E7CA; padding: 20px">Vacinas</p>
        <div style="margin: 5%;">
        <table class="table table-bordered table-bordered" >
            <thead style="background-color:#E0E7CA;">
            <tr>
                <th scope="col"></th>
                <th scope="col">Fabricante</th>
                <th scope="col">Periodo (em dias)</th>
                <th scope="col">Informação Extra</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Coronavac</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                </tr>
                <tr>
                <th scope="row">Jenssen</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                </tr>
                <tr>
                <th scope="row">Pfizer</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                </tr>
            </tbody>
        </table>
        </div>

        <div class="guardaBotao">
            <button type="button" class="botao"> <a href="./cadastroVacinas.html" class="link">Cadastrar Vacina</a></button>
        </div>

        <div class="footer fixed-bottom" style="background: #83A93A; height: 10%"> </div>
    </body>
</html>