<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"s>
    <header>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
       
       
        <title>Fabricantes</title>
    </header>
    <body>
        <header class="d-flex flex-wrap py-3 " style="background: #83A93A;"> </header>
        <p class="fs-1 text-center" style="background: #E0E7CA; padding: 20px">Fabricantes</p>
        <div style="margin: 5%;">

        <table class="table table-bordered table-bordered" >
            <thead style="background-color:#E0E7CA;">
            <tr>
                <th scope="col">Fabricante</th>
                <th scope="col">Telefone</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Filial</th>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                <th scope="col">Cep</th>
                <th scope="col">Bairro</th>
                <th scope="col">Rua</th>
                <th scope="col">Número</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Mark</th>
                <th scope="row">(11)2056-9852</th>
                <th scope="row">02.852.951/0001-23</th>
                <th scope="row">Brasil</th>
                <th scope="row">São Paulo</th>
                <th scope="row">São Paulo</th>
                <th scope="row">115526-956</th>
                <th scope="row">Campo Grande</th>
                <th scope="row">Rua São Jõao</th>
                <th scope="row">320</th>
                </tr>

                <tr>
                <th scope="row">Jacob</th>
                <th scope="row">(62)2020-9666</th>
                <th scope="row">41.111.320/0001-16</th>
                <th scope="row">Brasil</th>
                <th scope="row">Brasília </th>
                <th scope="row">Distrito Federal</th>
                <th scope="row">62589-340</th>
                <th scope="row">Gama</th>
                <th scope="row">Quadra SHCGN 706 Bloco C</th>
                <th scope="row">1025</th>
                </tr>

                <tr>
                <th scope="row">Larry</th>
                <th scope="row">(84)98523-1200</th>
                <th scope="row">53.133.148/0001-15</th>
                <th scope="row">Brasil</th>
                <th scope="row">Natal</th>
                <th scope="row">Rio Grande do Norte</th>
                <th scope="row">59020-632</th>
                <th scope="row">Tirol</th>
                <th scope="row">Rua Galvão Bueno</th>
                <th scope="row">639</th>
                </tr>

            </tbody>
            
        </table>
        </div>

       
        <div class="footer fixed-bottom" style="background: #83A93A; height: 10%"> </div>
    </body>
</html>